.btn {
  padding: 5px;
  margin: 0 5px;
  background-color: #fff;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(10, 12, 126);
  color: #fff;
}
.btn:first-letter {
  text-transform: capitalize;
}
